@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #1B1464;
  height: 80px;
  width: 100%;
}

label.logo {
  font-size: 40px;
  color: #ecf0f1;
  line-height: 80px;
  margin: 0 100px;
  padding: 0 10px;
  border-radius: 0.15em;
  background-color: #009432;
  font-family: 'Nanum Pen Script', cursive;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

a {
  font-size: large;
  padding: 1em;
  color: #ecf0f1;
  background-color: #0652DD;
  border-radius: 1em;
  font-family: 'Nunito', sans-serif;
}

a:hover {
  background: #3498db;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}


#check {
  display: none;
}

@media screen and (max-width: 952px) {
  label.logo {
    font-size: 30px;
    margin-left: 50px;
  }


  nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  .checkbtn {
    display: block;
    margin-left: 40px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #0652DD;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a {
    background: none;
  }

  a:hover {
    background: #3498db;
    color: black;
    transition: 0.5s;
  }

  #check:checked~ul {
    left: 0;
  }
}
