.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

h2 {
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 20px;
  font-weight: 500;
  background-color: lightslategray;
  color: aliceblue;
  border-radius: 0.5em;
}

.btn {
  display: flex;
  justify-content: center;
}
